@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*
    actually the font used in the album "loveless"
*/
@font-face {
  font-family: "Noto Sans", "ITC Kabel";
  src: url("fonts/ITCKabelStdMedium.TTF");
  font-weight: normal;
  font-style: normal;
}

* {
  /* if we have a box with 200px + 20px of padding on each side
    normally we would have a 240px box
    
    but by declaring border-box, when ever we're talking about 200px box
    , that 200px already includes padding.
    */
  box-sizing: border-box;

  font-family: "Noto Sans", Raleway;
  color: #491c02; /* light gray is easier to read */
  font-family: "Cabin", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: #777777;
  background-image: url("Images/้healthy.png");

  /* // now that we have both color and picture
    // we are going to blend it */
  background-blend-mode: multiply;
  /* expand it as wide/tall as it can */
  background-size: cover;
}

.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  /*font-family: "Noto Sans", "ITC Kabel";*/

  color: white;
  font-weight: normal;
}

.band-name-large {
  font-size: 9vw;
}

.content-section {
  margin: 1em; /*[point] make it more beautiful to read*/
}

.container {
  margin: 0 auto;
  padding: 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.section-header {
  font-family: "Noto Sans", "ITC Kabel";
  font-weight: normal;
  color: #000000;
  text-align: center;
  font-size: 2.5em;
}

.headtext {
  text-align: center;

  text-transform: capitalize;
  margin: 0 auto;
  color: #275204;
  font-size: 65px;
}
#status-pic {
  display: block;
  grid-row: span 2;
  width: 100%;
  margin-left: 10px;
}

#plantInfo {
  margin: 0 20px;
  color: #314b0c;
  font-weight: bolder;
  font-size: 22px;
}
#plantStatus {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.left-card {
  grid-template-rows: 70px 1fr;
  display: grid;
  padding: 20px;
  margin-top: 30px;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.right-card {
  display: grid;
  padding: 20px;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#chart {
  background-color: white;
  grid-area: 1/1/5/2;
  max-width: 500px;
  margin-right: 20px;
}
.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
}

.tour-row {
  display: flex;
  align-items: center;
}

.tour-row:last-child {
  border-bottom: none;
}

.tour-item {
  display: inline-block; /* we cannot edit width of inline elem, so we have to make it inline-block elem */
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block_span1 */
  /*[point] spacing makes it cleaner*/
}
.tour-arena {
  margin-left: 10px;
}
.tour-date {
  color: #4b2200;
  font-weight: bold;
}

.tour-btn {
  max-width: 110px;
  min-width: 110px;
  /*[point] we used max-width bc we don't want to make it statically 30%*/
}

.btn-primary {
  color: white;
  background-color: #799351;
  border: none; /* border none make it clean */
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #495f29;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .left-card {
    width: 90%;
    display: block;
  }
  .right-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto;
  }
  #status-pic {
    margin: 25px 20px;
  }
  #chart {
    margin: 0;
    grid-area: 1/1/2/4;
  }
  .tour-row {
    grid-row-start: 2;
    margin: 10px 0;
  }
  .tour-row:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3/1/4/4;
    border-top: 1px solid;
    padding: 10px;
  }
}
