@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*
    actually the font used in the album "loveless"
*/
@font-face {
  font-family: "Noto Sans", "ITC Kabel";
  src: url("fonts/ITCKabelStdMedium.TTF");
  font-weight: normal;
  font-style: normal;
}

* {
  /* if we have a box with 200px + 20px of padding on each side
    normally we would have a 240px box
    
    but by declaring border-box, when ever we're talking about 200px box
    , that 200px already includes padding.
    */
  box-sizing: border-box;

  font-family: "Noto Sans", Raleway;
  color: #202020; /* light gray is easier to read */
}

html,
body {
  margin: 0;
  padding: 0;
}

#chart {
  background-color: white;
}

.main-header {
  background-color: #ee4e4e;
  background-image: url("Images/Album\ 1.png");

  /* // now that we have both color and picture
    // we are going to blend it */
  background-blend-mode: multiply;
  /* expand it as wide/tall as it can */
  background-size: cover;
}

.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Noto Sans", "ITC Kabel";
  color: white;
  font-weight: normal;
}

.band-name-large {
  font-size: 9vw;
}

.content-section {
  margin: 1em; /*[point] make it more beautiful to read*/
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5em;
}

.section-header {
  font-family: "Noto Sans", "ITC Kabel";
  font-weight: normal;
  color: #000000;
  text-align: center;
  font-size: 2.5em;
}
.card {
  display: inline-block;
  width: 48%;
  border-radius: 5%;
  padding: 20px;
  margin-top: 30px;
}
.headtext {
  text-align: center;
  text-transform: capitalize;
}
#status-pic {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
}
.left {
  float: left;
  text-align: center;
}
.right {
  float: right;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
  margin-top: 5px;
}

.tour-row {
  border-bottom: 1px solid rgb(20, 0, 75);
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tour-row:last-child {
  border-bottom: none;
}

.tour-item {
  display: inline-block; /* we cannot edit width of inline elem, so we have to make it inline-block elem */
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block_span1 */
  padding-right: 0.5em; /*[point] spacing makes it cleaner*/
}

.tour-date {
  margin-top: 5px;
  color: #ee4e4e;
  width: 46%;
  font-weight: bold;
}

.tour-city {
  width: 24%;
}

.tour-arena {
  width: 52%;
}

.tour-btn {
  max-width: 30%;
  /*[point] we used max-width bc we don't want to make it statically 30%*/
}

.btn-primary {
  color: white;
  background-color: #799351;
  border: none; /* border none make it clean */
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #495f29;
}

@media (max-width: 750px) {
  .card {
    display: block;
    width: 100%;
  }
}
